data
tags
pgmp.so
pgmp.sql
pgmp.control
pgmp--*.sql
results/*.out
regression.diffs
regression.out
docs/env
docs/html
docs/_static/jsMath/
sandbox/hello/hello
sandbox/bench/*.png
sandbox/pi/*.txt
dist/*
src/*.bc
